@keyframes loading {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}


.ft-slick__dots--custom {
    height: 0.8rem;
    width: 1rem;
    background-color: white;
    border-radius: 4px;
    bottom: 3.5rem;
    opacity: 0.7;
    position: relative;
    cursor: pointer;

}

.slick-slide * {
    display: block !important;
}



.slick-dots li {
    width: 1rem;
    margin: 0 0.5rem;
    transition: width 0.3s ease-in-out;
    bottom: 3rem;
    cursor: default;
}

.slick-dots .slick-active {
    width: 4rem;
    transition: width 0.3s ease-in-out;
}

.slick-dots .slick-active .ft-slick__dots--custom {
    width: 4rem;
    opacity: 1;

    // .loading {
    //     height: 8px;
    //     animation: loading 4s ease-in;
    //     background: orange;
    //     display: inline-block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     border-radius: 4px;
    // }
}